Section+5+Finished+Code+photowall+0\photowall\node_modules
photowall_\photowall_\node_modules
photowall+Redux+2\photowall Redux 2\node_modules
photowall+3\photowall 3\node_modules

Section+5+Finished+Code+photowall+0/photowall/node_modules
photowall_/photowall_/node_modules
photowall+Redux+2/photowall Redux 2/node_modules
photowall+3/photowall 3/node_modules

Section+5+Finished+Code+photowall+0\__MACOSX
photowall_\__MACOSX
photowall+Redux+2\__MACOSX
photowall+3\__MACOSX\photowall 3

Section+5+Finished+Code+photowall+0/__MACOSX
photowall_/__MACOSX
photowall+Redux+2/__MACOSX
photowall+3/__MACOSX/photowall 3